

*{
  max-width: 1200px;
  margin:0 auto;

}
body{
  padding-left: 0;
}
.container{
  /* border: solid red 1px; */
  padding: 0;
  width: 100%;
margin: 0 auto !important;
}
.navbar{
  background-color: rgb(208, 132, 0);
  position: sticky;
  top: 0px;
  z-index: 10;
}
.navbar-brand{
  font-size: 25px;
}
.nav-item a{
  font-size: 22px;
  background-color: rgb(208, 132, 6);
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 5px;
}
.dropdown-menu{
  background-color: rgb(208, 132, 0);

}
.container h2{
  text-align: center;
  margin-top: 20px;
  padding: 5px 0;
}
.header{
  background-image: url(imagenes/chilaquiles-2-1024x700-480x270.jpg);
  background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   background-attachment: fixed;
}
.px-3n{
  /* border: solid rebeccapurple 1px; */
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.textos{
  background-image:  linear-gradient(rgba(186, 157, 122, 0.8), rgba(245, 237, 220, 0.6));
  border-radius: 5px;
  color: rgb(24, 25, 25);

}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 10px;
}
.cards h2{
  width: 100%;
}
.card{
  background-color: rgb(241, 239, 239);
}
.card button{
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: aliceblue;
}
.card button del{
  color: rgb(89, 89, 89);
}
.cont_pupusas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 222, 186);
}
.cont_pupusas h2{
  width: 100%;
}
.cont_pupusas ul{
  width: 45%;
}
.imgs{
  width: 45%;
  /* border: solid black 1px; */
}
.imgs img{
  width: 60%;
  margin: 10px auto;

}
.cont_pupusas h4,.cont_pupusas p{
  width: 100%;
  padding-left: 10px;
}
.cont_pizza{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(252, 217, 217);
  padding: 10px 0;
}
.cont_pizza h2{
  width: 100%;
}
.cont_pizza ul{
  /* border: solid red 1px; */
  width: 30%;
  margin: 10px 5px;
  padding: 5px;
  background-size: cover;
  /* background-attachment:scroll; */
  background-position: top;
  background-repeat: no-repeat;
  background-clip: content-box;
}
.cont_pizza ul li{
  /* border-bottom: solid blue 1px; */
  padding: 0 5px;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 248, 255,.4);
  text-shadow: 0 0 5px white;
  font-weight: bolder;
}
.cont_pizza ul li strong{
  background-color: rgb(248, 214, 169);
  width: 100%;
  text-align: center;
  text-shadow: none;
}
/* .cont_pizza ul li span{
  border: solid rgb(231, 232, 231) 1px;
} */
.p8{
  background-image: url(imagenes/p1.jpg);
}
.p10{
  background-image: url(imagenes/p2.jpg);
}
.p12{
  background-image: url(imagenes/p3.jpg);
}
.p16{
  background-image: url(imagenes/p4.jpg);
}
.p20{
  background-image: url(imagenes/p5.jpg);
}

.cont_rapida{
  /* border: solid black 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;background-color: rgb(250, 208, 154);
  padding: 10px 0;
}
.cont_rapida h2{
  width: 100%;
}
.cont_rapida p,.cont_pizza p,.cont_pupusas p,.cards p{
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
}
.uls1,.uls2{
  /* border: solid red 1px; */
  width: 45%;
  display: flex;
}
.uls1 ul,.uls2 ul{
  /* border: solid black 1px; */
  width: 100%;
}
.ulimg{
  width: 40%;
  /* height: 30px; */
  /* border: solid green 1px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ulimg img{
  width: 100%;
  margin: 5px auto;
}
.ull{
  /* border: solid black 1px; */
  width: 60%;
}


footer{
  width: 100%;
  background-color: rgb(208, 132, 0);
  padding: 10px;
  color: aliceblue;
  padding-bottom: 30px !important;
}
.footer-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact,.about{
  /* border: solid red 1px; */
  width: 45%;
}
.links{
  width: 80%;
  /* border: solid red 1px; */
}
.links ul li a,.footer-bottom a{
  color: aliceblue;
}
.footer-bottom{
  width: 100%;
  /* border: solid red 1px; */
  text-align: center;
}
.contact,.about,.links,.footer-bottom{
  margin: 10px 0;
}

/* Breakpoints */
@media(max-width:992px){
  .navbar-brand{
    /* background-color: aliceblue; */
   width: 80%;
   text-align: center;
   font-size: 28px;
   font-weight: bold;
  }
  .card{
    margin: 10px;
  }
}
@media(max-width:768px){

  .cover-container{
    padding: 0 !important;

  }
  /*  */
  .textos{
    width: 100%;
    /* border: solid red 1px; */
  }
  .card{
    width: 40% !important;
    /* border: solid red 1px; */
  }
  .cont_pizza ul{
    width: 45%;
  }
  .uls1,.uls2{
    /* border: solid red 1px; */
    width: 50%;
  }
  .about,.contact,.links{
    width: 100%;
    padding-left: 10px;
  }
 
}
@media(max-width:576px){
  .navbar-brand{
    width: 75%;
    margin-left: 0%;
  }
  .cards p,.cont_pupusas p,.cont_pizza p,.cont_rapida p{
    width: 100%;
    /* border: sienna 1px solid; */
  }
  .card{
    width: 100% !important;
    margin-top: 20px;
  }
  .cont_pizza ul{
    width: 100%;
  }
  .cont_pupusas ul{
    /* border: solid red 1px; */
    width: 55%;
  }
  .imgs{
    /* border: solid blue 1px; */
    width: 40%;
  }
  .imgs img{
    width: 100%;
  }
  .uls1,.uls2{
    width: 90%;
  }
  .ulimg img{
    border: solid red 1px;
    margin: 5px auto;
    width: 80%;
  }
}

